body {background-color: rgb(255, 255, 255);}

h1 {color: rgba(8, 141, 165, 1);
    margin-left: 100px;
    text-shadow: 1px .5px 4px rgba(0, 0, 0, 0.6);}

/*color of outside box*/
.container{ width: 450px;
            height: 450px;
            background-color: #faebd7;
            border: 2px solid black;
            border-radius: 5%;
}


/*format of inside squares*/
.container .squares:nth-child(-n+4){
    background-image: url("../css/icons/icon1.png");
    color: #fff;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid  black;
    border-radius: 25%;
    cursor: pointer;
}

/*text*/
.squares:nth-child(-n+4) p{
    font-family: "helvetica nue", Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    margin: 0%;
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.8);
}

/*color of inside squares*/
.squares:nth-child(1){
    background-color: red;
}

.squares:nth-child(2){
    background-color: green;
}

.squares:nth-child(3){
    background-color: blue;
}

.squares:nth-child(4){
    background-color: blueviolet;
}

/*hover effect*/
.container .squares:nth-child(-n+4):hover {
    background-image: url("../css/icons/icon2.png");
    transition: transform .5s ease-in-out;
    transform: scale(.5);
    animation-name: race;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(2.5,.2, .3,2);


}
.squares:nth-child(1):hover{
    background-color: cadetblue;

}

.squares:nth-child(2):hover{
    background-color: chocolate;
}

.squares:nth-child(3):hover{
    background-color: darkgoldenrod;
}

.squares:nth-child(4):hover{
    background-color: darkorange;
}

/*animations*/
 @keyframes race{
     0%, 100% {
         transform: translateY(0px);
         background-image: url("../css/icons/icon2.png");
     }
     50% {
         transform: translateY(300px);
     }
 }